
b{
    color:darkgreen;
}
h1{
    font-size: 55px;
    color: black;	
    text-shadow: 0 0 5px grey;
}
body{
font-family: "Afacad Flux";
color: aliceblue;
text-align: center;
background-color: black;
}
.container{
    display:flex;
    font-family: "Afacad Flux";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;

}
.box {
    padding: 50px;
    padding-top: 20px;
    background-color: white; 
    border-radius: 50px;
    border: 0px solid #555; 
    box-shadow: 0px 0px 50px rgb(240, 240, 240); 
    box-sizing: border-box;
    margin-top: 7%;
}
.formulario input,button{
    font-family: "Afacad Flux";
    margin: 10px;
    border-style: solid;
    border-radius: 60px;
    border-color: black;
    width: auto;
    padding: 15px 30px;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px black;
}
.registro_completo{
    color: darkgreen;
    text-shadow: 0 0 3px green;
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
    font-size: 30px;
}
.div_button{
    width: auto;
    align-items: center;
    margin: 1%;
}
.error{
color: darkred;
text-shadow: 0 0 3px red;
padding: 10px;
border-radius: 25px;
margin: 10px;
font-size: 30px;
}
.image{
    border-radius: 20px;
    box-shadow: 0px 0 30px grey;
    margin-top: 7.5%;
}

